<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kvapps.kyle.tripeaks"
    android:versionCode="2"
    android:versionName="1.0.1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.kvapps.kyle.tripeaks.MainMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kvapps.kyle.tripeaks.Settings"
            android:label="@string/action_settings"
            android:parentActivityName="com.kvapps.kyle.tripeaks.MainMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kvapps.kyle.tripeaks.MainMenu" />
        </activity>
        <activity
            android:name="com.kvapps.kyle.tripeaks.Game"
            android:label="@string/app_name"
            android:parentActivityName="com.kvapps.kyle.tripeaks.MainMenu"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kvapps.kyle.tripeaks.MainMenu" />
        </activity>
        <activity
            android:name="com.kvapps.kyle.tripeaks.HowToPlay"
            android:label="How To Play"
            android:parentActivityName="com.kvapps.kyle.tripeaks.MainMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kvapps.kyle.tripeaks.MainMenu" />
        </activity>
    </application>

</manifest>
